.DS_Store
/node_modules
/public/storage
/public/build
/storage/*.key
/vendor
/.env
/.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
_ide_helper.php
yarn-error.log
/.idea
/.vscode
/*_ide_helper*.php
/.phpstorm*
/auth.json
